
/* Read the comments */
/* @import url(/assets/css/guidance.css); */
/*--importing libs, local modules--*/
@import url(/assets/styles/css/normalize.css);
/*--end importing libs, local modules--*/

/*--connetcting fonts&icons--*/
/* Connect below the font シ you choose for your site (¬‿¬ )*/
/* @font-face {
    font-family: 'Base Text';
    src: url('/assets/fonts/base_text.eot');    
} */
/* @font-face {
    font-family: 'Decor Text';
    src: url('/assets/fonts/base_text.eot');    
} */
/*--end fonts connect--*/
/*---general styles---*/

:root {
    /*--color scheme--*/
    --l-base: #96eff6;
    --d-base: #505050;
    --l-txt: #FFFFFF;
    --d-txt: #21201F;
    --l-accent: #FAFAFA; /*-- bbgd - blocks background--*/
    --d-accent: #00CA50;    
    --l-links: #5fafde;
    --d-links: #1e6893;
    --l-disabled: #9b9b9b;
    --d-disabled: #8d8d8d;
    /*--end color scheme--*/
    /*--fonts--*/
    --font-base: 'Base Text';
    --font-decor: 'Decor Text';
    /*--end fonts--*/
}
html {
    scroll-behavior: smooth;
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 14px;
}
body {
    display: flex;
    flex-flow: column;    
    align-items: center;
    position: relative;    
    color: var(--d-txt);
    background-color: var(--l-base);
}
/*-main-*/
main {
    box-sizing: border-box;
}
/*-end of main-*/

/*-general-*/
/*--general-classes--*/
/*---flex classes---*/
.f-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.f-centered-column {
    display: flex;
    flex-flow: column;
}
.f-justified {
    text-align: justify;
}
.f-aligned {
    align-items: center;
}
.touch {
    display: none;
}
/*---end of flex classes---*/
/*--end of general classes--*/
/*-end of general-*/
/*--------------------*/
/*---elements---*/
.button, a.button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--d-accent);
    color: #fff;
    font-weight: bold;
}
.button-l {
    line-height: 38px;
    border-radius: 56px;
    font-size: 2.05rem;
    padding: 50px 128px;
} 
.button-m {    
    line-height: 28px;
    padding: 0px 54px;
    line-height: 54px;
    border-radius: 24px;
    font-size: 1.55rem;
}
.button-s {
    line-height: 24px;
    padding: 0 51px;
    border-radius: 18px;
    font-size: 1.1rem;
}
/*---end of buttons---*/
/*---gaps---*/
div.gap-l {
    height: 160px;
}
div.gap-m {
    height: 110px;
}
div.gap-s {
    height: 60px;
}
/*---end of gaps---*/
/*--end of elements--*/

/*--Typography--*/
h1, h2, h3, h4, h5, h6, .bold {
    font-weight: bold;
}
h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 0 4px 0 0;
    padding: 0;
}

h2 {
    font-size: 2rem;   
    font-weight: bold; 
}

h3 {   
    font-size: 1.5rem;
}

h4 {    
    font-size: 1.25rem;
    margin: 0.5rem;   
}

h5 {
      font-size: 1.05rem;
}
h6 {
    font-size: 0.85rem;
}

a,
a:visited {
    color: var(--d-txt);
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
a>img{
    height: inherit;
}


/*--end of typography--*/


/*--animations--*/

/*--end animations--*/


@media (max-width: 1199.98px) {
    
}

@media (max-width: 991.98px) {
    .wider991 {
        display: none;
    }
}

@media (max-width: 767.98px),
(orientation: portrait) {
    .wider768 {
        display: none;
    }
}
@media (max-width: 575.98px) {
    .wider576 {
        display: none;
    }
}

/*--end of @queries--*/
/*--animations--*/
/*--end of animations--*/


/*--test styles--*/
/* header, main, footer, nav, section, div, form, input,  ul, li, p, h1, h2, h3, h4, h5, h6 {
    border: 1px dashed lightblue    
} */
/*--end of test styles--*/
